body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center center;
}

header .brand {
  /* تطبيق حشوة وهامش لشعار الصفحة */
  padding: 20px 10px;
  margin: 80px auto 50px;
  /* brand إضافة حد أسفل الشعار وتحديد عرضه ولونه ضمن الصنف */
  border-bottom: 5px solid #454545;
  /* جعل عرض الخط بعرض الشعار */
  display: inline-block;
}

header .page-heading h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  color: #fff;
}

header .page-heading p {
  width: 40%;
  font-size: 18px;
  line-height: 25px;
  color: #acacac;
  margin: 0 auto;
}

header .counter .countdown-amount {
  font-size: 60px;
  font-weight: bold;
  color: #ffce00;
  display: block;
}

header .counter .countdown-period {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

header .counter .countdown-section {
  display: inline-block;
  margin: 0 20px;
}

header .counter {
  margin: 60px auto;
  padding: 30px;
}

header .send-notification p {
  font-size: 18px;
  color: #fff;
}

header .send-notification .input-group input,
footer .top-footer .overlay .input-group input {
  font-size: 18px;
  font-family: ar-font;
  color: #080808;
  border-width: 2px;
  border-color: #e6e6e6;
  border-radius: 0;
  height: auto;
}

header .send-notification .input-group button {
  border-radius: 0;
  background-color: #ffce00;
  padding: 0.5rem 1.5rem;
}

footer .top-footer .overlay .input-group button {
  border-radius: 0;
  background-color: #393939;
  padding: 0.5rem 1.5rem;
}

footer .form-group .input-group button {
  background-color: #393939;
  border-radius: 0;
  padding: 0.5rem 1.5rem;
}

footer .top-footer .overlay .input-group input:hover,
footer .top-footer .overlay .input-group input:focus {
  box-shadow: 0 0 0;
  border-color: #fff;
}

footer .top-footer .overlay .input-group button:hover,
footer .top-footer .overlay .input-group button:focus {
  box-shadow: 0 0 0;
  border-color: transparent;
}

header .send-notification .input-group,
footer .top-footer .overlay .input-group {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

header .send-notification .input-group .alert,
footer .top-footer .overlay .alert {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
}

section.features h2 {
  margin-bottom: 50px;
  font-size: 45px;
  color: #555;
}

section.features {
  padding: 100px 0;
  text-align: right;
}

section.features .media {
  border: 4px solid #fafafa;
  padding: 40px 10px;
  margin-bottom: 20px;
  position: relative;
  max-height: 190px;
}

section.features .media .media-body h5 {
  font-size: 24px;
  color: #555;
}

section.features .media .media-body p {
  font-size: 15px;
  line-height: 25px;
  color: #9c9c9c;
}

section.features div[class*="col-"]:nth-child(even) {
  text-align: left;
}

footer {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: center center;
}

footer .top-footer .overlay {
  background-color: rgba(255, 204, 0, 0.7);
  padding: 60px 0;
}

footer .top-footer .overlay h3 {
  font-size: 30px;
  width: 80%;
  margin: 0 auto 30px;
}

footer .contact .overlay {
  background-color: rgba(28, 28, 28, 0.7);
  padding: 60px 0 10px;
  color: #fff;
}

footer .contact .overlay h3 {
  font-size: 30px;
  margin: 0 auto 30px;
}

footer .contact .overlay ul li a {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: block;
  background-color: rgba(255, 255, 255, 0.14);
  color: #fff;
}

footer .contact .overlay ul li {
  margin: 0 5px 10px;
}

footer .contact .overlay ul li a.facebook:hover {
  background-color: #3b5999;
}
footer .contact .overlay ul li a.twitter:hover {
  background-color: #55acee;
}
footer .contact .overlay ul li a.linkedin:hover {
  background-color: #0077b5;
}
footer .contact .overlay ul li a.instagram:hover {
  background-color: #e4405f;
}

footer .contact .overlay hr {
  width: 25%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

/* تنسيق أيقونة الظرف وإضافة مسافة بينها وبين البريد الإلكتروني */
footer .contact .overlay p a {
  color: #b4b4b4;
}
footer .contact .overlay p a i {
  color: #ffce00;
  margin-left: 5px;
}

/*تنسيق مسؤول عن درجة نعومة التأثير*/
footer .contact .overlay ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .animate__bounceIn {
    animation-name: none !important;
  }
  .animate__fadeInUp {
    animation-name: none !important;
  }
  .animate__fadeInDown {
    animation-name: none !important;
  }
  .animate__zoomIn {
    animation-name: none !important;
  }
}
